/Tp1/node_modules/
/Tp1/package-lock.json
/TP2/node_modules/
/TP2/package-lock.json
/TP3/node_modules/
/TP3/package-lock.json
/TP4/package-lock.json
/TP4/node_modules/
/tp5/package-lock.json
/tp5/node_modules/

